@import "../variables.scss";

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex: 1;
  height: 70px;
  padding: 0 24px 0 15px;
  border-bottom: 1px solid $border-color;
  &-wrapper-left {
    padding: 16px 28px 16px 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  &-wrapper-right {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  &-buttons-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-right: 16px;
  }
  &-button {
    width: 20px;
    height: 20px;
    color: $header-button;
    &-language {
      border-radius: 5px;
    }
    &-wrapper {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 40px;
      height: 40px;
      flex-shrink: 0;
      border-radius: 100%;
      .counter {
        color: $white;
        &-wrapper {
          position: absolute;
          top: 0;
          right: 0;
          padding: 0 6px 2px 6px;
          border-radius: 100%;
          line-height: 1;
          .counter {
            font-size: 9px;
          }
          &.cart {
            background-color: $cart-counter;
          }
          &.notification {
            background-color: $notification-counter;
          }
        }
      }
      &:hover {
        background-color: $button-hover;
        .header-button {
          color: $blue;
        }
      }
    }
  }
  &-profile {
    &-wrapper {
      display: flex;
      flex-direction: row;
      align-items: center;
      padding: 0 14px;
      height: 100%;
      background-color: $header-profile;
    }
    &-image {
      width: 32px;
      height: 32px;
      border-radius: 100%;
    }
    &-info {
      padding-left: 10px;
    }
    &-name {
      font-weight: 500;
      color: $header-button;
    }
    &-position {
      color: $burger;
      font-size: 12px;
      text-align: left;
    }
  }
  .search {
    &-wrapper {
      background-color: $search;
      display: flex;
      flex-direction: row;
      padding: 0 10px;
      align-items: center;
      border-radius: 5px;
      height: 38px;
    }
    &-icon {
      padding-right: 10px;
      color: $burger;
    }
    &-input {
      background-color: $search;
      outline: none;
      font-size: 14px;
    }
  }
}

.burger {
  &-wrapper {
    padding-right: 16px;
    &:hover {
      .burger-line {
        margin: 4px 0;
      }
    }
  }
  &-line {
    height: 2px;
    border-radius: 5px;
    background-color: $burger;
    margin: 3px 0;
    &:nth-child(1) {
      width: 16px;
    }
    &:nth-child(2) {
      width: 20px;
    }
    &:nth-child(3) {
      width: 10px;
    }
  }
}
