@import "../variables.scss";

.selling {
  &-products {
    margin: 0 12px;
    background-color: $white;
    box-shadow: 0 1px 2px rgb(56 65 74 / 15%);
    border-radius: 5px;
    flex: 1;
    margin-bottom: 24px;
    &-content {
      .product {
        list-style: none;
        display: grid;
        grid-template-columns: 2.5fr 1fr 1.5fr 1fr;
        padding: 12px;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px solid $border-color;
        &-name {
          display: flex;
          align-items: center;
          .product-info-value {
            color: $black;
          }
        }
        &-img {
          width: 40px;
          height: 40px;
          &-container {
            padding: 4px;
            background-color: rgb(243, 246, 249);
            margin-right: 10px;
            border-radius: 3px;
          }
        }
        &-info {
          &-value {
            font-size: 14px;
            font-weight: 400;
            color: $header-button;
          }
          &-name {
            color: $breadcrumb-second;
          }
          &-out {
            color: $notification-counter;
            background-color: rgba(240, 101, 72, 0.1);
            padding: 3px 6px;
            border-radius: 3px;
            font-size: 10px;
            font-weight: 600;
            margin-bottom: 5px;
          }
        }
      }
    }
  }
  .pagination {
    display: flex;
    justify-content: space-between;
    padding: 12px;
    align-items: center;
    &-text {
      color: $breadcrumb-second;
    }
    &-item {
      padding: 4px 8px;
      border: 1px solid $border-color;
      border-radius: 5px;
      &:hover {
        background-color: $pagination-hover;
      }
      &.active {
        background-color: $link;
        color: $white;
      }
    }
  }
}

.sellers {
  flex: 1;
  background-color: $white;
  margin: 0 12px;
  box-shadow: 0 1px 2px rgb(56 65 74 / 15%);
  border-radius: 5px;
  margin-bottom: 24px;
  &-item {
    padding: 12px;
    display: grid;
    grid-template-columns: 2.5fr 2fr 1fr 1fr 0.5fr 0.5fr;
    border-bottom: 1px solid $border-color;
  }
  &-img {
    width: 32px;
    height: 32px;
    &-container {
      padding: 8px;
    }
  }
  &-name {
    display: flex;
    align-items: center;
  }
  &-info {
    &-container {
      display: flex;
      justify-content: center;
      flex-direction: column;
    }
    &-name {
      color: $breadcrumb-second;
    }
    &-link {
      text-decoration: none;
      color: $black;
    }
    &-icon {
      color: $success;
    }
  }
}
