@import "../variables.scss";

.breadcrumbs {
  &-container {
    display: flex;
    justify-content: space-between;
    flex: 1;
    padding: 10px 24px;
    box-shadow: 0px 2px 0px rgb(56 65 74 / 15%);
    align-items: center;
    .page-title {
      font-weight: 700;
      font-size: 15px;
      text-transform: uppercase;
      color: $header-button;
    }
  }
  &-wrapper {
    display: flex;
    align-items: center;
  }
  &-main {
    color: $header-button;
    text-decoration: none;
    padding-right: 5px;
  }
  &-second {
    color: $breadcrumb-second;
    padding-left: 5px;
  }
  &-arrow {
    color: $breadcrumb-second;
  }
}
