$bg-color: #405189;
$menu-section: #919da9;
$menu-link: #abb9e8;
$menu-link-active: #fff;
$bg-new: rgb(240, 101, 72);
$white: #fff;
$black: #000;
$scrollbar: #f3f6f9;
$burger: #878a99;
$search: #f3f3f9;
$border-color: #f3f6f9;
$header-button: #495057;
$blue: #3577f1;
$cian: #299cdb;
$button-hover: rgba(53, 119, 241, 0.1);
$header-profile: #f3f3f9;
$cart-counter: rgb(41, 156, 219);
$notification-counter: #f06548;
$breadcrumb-second: #878a99;
$content-background: #f3f3f9;
$calendar-icon: rgb(64, 81, 137);
$add-color: #0ab39c;
$add-bg: rgba(10, 179, 156, 0.1);
$recent-bg: rgba(41, 156, 219, 0.1);
$success: rgb(10, 179, 156);
$failure: rgb(240, 101, 72);
$neutral: #878a99;
$link: #405189;
$total-shadow: rgb(56, 65, 74, 15%);
$total-shadow-hover: rgb(30, 32, 37, 12%);
$border-color: #e9ebec;
$pagination-hover: #eff2f7;
$pending: #f7b84b;
$footer-color: #98a6ad;
$progress: #eff2f7;
